<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form method='post' action='/' enctype='multipart/form-data'
>
    <input type="file" name="file" multiple alt="khang">
    <input type="submit" value="upload">
</form>
</body>
</html>
